<div *ngIf="displayList">
<div *ngFor="let league of leagueData">
  <div class="league_header">
    <p> 
      {{ league.league.name }} 
      <i class="expand_button arrow" (click)="expand(league)" [ngClass]="{'up':league.showMatches, 'down':!league.showMatches}"></i>
      
    </p>
  </div>
  <app-match-list (matchOutput)="selectMatchToDisplay($event)" (matchOutput)="displayListMatchSwitch()"  *ngIf="league.showMatches" [matches]="league.matches"> </app-match-list>
</div>
</div>
<app-match-view *ngIf="displayMatch" (closeViewEmitter)="displayListMatchSwitch()" [match]="matchToDisplay"></app-match-view>