Ligi
<ul>
    <li *ngFor="let leauge of leagues" >
        {{leauge.name}}
    </li>
    <li *ngFor="let leauge of leagues" >
        {{leauge.name}}
    </li>
    <li *ngFor="let leauge of leagues" >
        {{leauge.name}}
    </li>
</ul>
<br>
Tari
<ul>
    <li *ngFor="let country of countries" >
        <a class="left_menu" href="#">
            <img class="left_menu_flag" src="../../../../../assets/{{country.flag}}">
            <span class="left_menu_text">{{country.name}}</span>
          </a>
    </li>
    <li *ngFor="let country of countries" >
        <a class="left_menu" href="#">
            <img class="left_menu_flag" src="../../../../../assets/{{country.flag}}">
            <span class="left_menu_text">{{country.name}}</span>
          </a>
    </li>
    <li *ngFor="let country of countries" >
        <a class="left_menu" href="#">
            <img class="left_menu_flag" src="../../../../../assets/{{country.flag}}">
            <span class="left_menu_text">{{country.name}}</span>
          </a>
    </li>
    <li *ngFor="let country of countries" >
        <a class="left_menu" href="#">
            <img class="left_menu_flag" src="../../../../../assets/{{country.flag}}">
            <span class="left_menu_text">{{country.name}}</span>
          </a>
    </li>
    <li *ngFor="let country of countries" >
        <a class="left_menu" href="#">
            <img class="left_menu_flag" src="../../../../../assets/{{country.flag}}">
            <span class="left_menu_text">{{country.name}}</span>
          </a>
    </li>
    <li *ngFor="let country of countries" >
        <a class="left_menu" href="#">
            <img class="left_menu_flag" src="../../../../../assets/{{country.flag}}">
            <span class="left_menu_text">{{country.name}}</span>
          </a>
    </li>
</ul>
