<div class="footer-child">
  <div class="row-colums">
    <div class="column" id="about_flashcore">
      <h5>FLASHSCORE.RO</h5>
      <div class="column-2">
        <a href="https://www.flashscore.ro/termeni/">Termeni şi condiţii</a>
        <a href="https://www.flashscore.ro/publicitate/">Publicitate</a>
        <a href="https://www.flashscore.ro/contact/">Contact</a>
        <a href="https://www.flashscore.ro/mobile/">Mobile</a>
      </div>
      <div class="column-2">
        <a href="https://www.flashscore.ro/livescore/">Livescore</a>
        <a href="https://www.flashscore.ro/link-uri/">Site-uri recomandate</a>
        <a href="https://www.flashscore.ro/faq/">FAQ</a>
      </div>
    </div>
    <div class="column" id="social_media">
      <h5>URMĂREŞTE-NE</h5>
      <div id="facebook">
        <a href="https://www.facebook.com/narcisu/">
          <a class="fa fa-facebook"></a>
          <a class="fa">Facebook</a>
        </a>
      </div>
      <div id="twitter">
        <a href="https://www.instagram.com/narcisvladutu/">
          <a class="fa fa-instagram"></a>
          <a class="fa">Instagram</a>
        </a>
      </div>
    </div>
    <div class="column" id="mobile_apps">
      <h5>APLICAȚII PENTRU MOBILE</h5>
      <p>
        Aplicația noastră e optimizată pentru telefonul tău. Descarc-o gratuit!
      </p>
      <a href="https://apps.apple.com/ro/app/id766443283?l=ro&mt=8">
        <img class="images-store" src="assets/imagine_app_store.svg" />
      </a>
      <a
        href="https://play.google.com/store/apps/details?id=eu.livesport.FlashScore_ro2"
      >
        <img class="images-store" src="assets/imagine_magazin_play.svg" />
      </a>
      <a href="https://appgallery.huawei.com/app/C101902853?sharePrepath=ag">
        <img class="images-store" src="assets/imagine_app_gallery.svg" />
      </a>
    </div>
  </div>
  <img class="imagine-licenta" src="./assets/stema.png" />
  <div class="text-licenta">
    <a href="https://bancuri365.ro/bancuri-cu-bula/">Cel mai pizdos site</a>
  </div>
  <div id="corner"></div>
  <img id="corner-image" src="/assets/colt.png" />
</div>
