<div class="header_content">
    <img class=header_logo src="../assets/logo.jpg" alt="logo FlashScore" width="100px">
    <div class="buttons_container">
        <button class="button_search" type="button"><img class="button_icon_search" src="../assets/search.png" alt="search"></button>
        <button class="button_login" type="button"><img class="button_icon_login" src="../assets/login.png" alt="login"><p class="log_in">LOG IN</p></button>
        <button class="button_menu" type="button"><img class="button_icon_menu" src="../assets/white_hamburger.png" alt="menu"></button>
    </div>

</div>