html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --black: #111111;
    --light-dark-blue: #0f2d37;
    --dark-blue: #001e28; 
    --light-grey: #999;
    --yellow: #ffcd00;
    --hover-grey: #3f575f;
  }