<div id="container">
    <div id="top">
        <div id="left">
        </div>
        <div id="center">
            <div id="header">
                <app-header></app-header>

            </div>
            <div id="main-content">
                <div id="side-menu">
                    <app-side-menu></app-side-menu>
                </div>
                <div id="matches">
                    <app-content></app-content>
                    <app-side-menu></app-side-menu>
                </div>
                <div id="ads">
                    <app-side-menu></app-side-menu>
                </div>
            </div>
        </div>
        <div id="right">

        </div>
    </div>
    <div id="footer">

        <app-footer></app-footer>
    </div>
</div>